* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.press-start-2p-regular {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

.pixel-font {
  font-family: 'Pixelify Sans', sans-serif;
}

body {
  background: black;
  color: white;
}
img {
  width: 100%;
  height: 100%;
}

.isi-content {
  height: 300vh;
  width: 100%;
  background: black;
}

.game-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
}

.game-container {
  width: 1408px;
  height: 848px;
  position: relative;

  /* position: fixed; */
}

#game canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  display: block;
}

.text-container {
  position: absolute;
  display: flex;
  visibility: hidden;
  justify-content: start;
  align-items: center;
  left: 36px;
  right: 39px;
  bottom: 56px;
  height: 200px;
  border: 30px solid transparent;
  border-image: url('../asset/border/chat-box.png') 16 round;
  image-rendering: pixelated;
  background: black;
  overflow-y: auto;
  padding: 1rem;
}

.char-wrapper {
  content: '';
  margin: 0 1rem 0 0;
}
.char-img {
  width: 80px;
  height: 80px;
}
.player-name {
  width: fit-content;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-bottom: 5px solid white;
  line-height: 2rem;
}
.text-box {
  font-size: 1.3rem;
  letter-spacing: 0.19rem;
}

@media (max-width: 1408px) {
  .game-container {
    width: 1280px;
    height: 720px;
  }
}

@media (max-width: 1280px) {
  .game-container {
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 720px) {
  .text-container {
    display: block;
  }
  .char-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
}
