* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

.game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.game-border {
  width: 1280px;
  height: 720px;
}

#game canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  display: block;
}
